@using MystiickWeb.Shared.Services

<div class="m-2">
    <Pager Label="Label" Items="Items?.Count() ?? 0" PageSize="PageSize" PageNumber="PageNumber" OnPageUpdate="UpdatePage"></Pager>
</div>

    @ChildContent

<div class="m-2">
    <Pager Label="Label" Items="Items?.Count() ?? 0" PageSize="PageSize" PageNumber="PageNumber" OnPageUpdate="UpdatePage"></Pager>
</div>

@code {
    [Parameter] public string Label { get; set; } = "";
    [Parameter] public IEnumerable<object>? Items { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int PageSize { get; set; } = 5;
    [Parameter] public int PageNumber { get; set; }
    [Parameter] public string Name { get; set; } = "";

    [Inject] private CacheService _cache { get; set; } = new();

    public IEnumerable<object> DisplayItems
    {
        get
        {
            if (this.Items != null)
            {
                return Items.Skip(PageNumber * PageSize).Take(this.PageSize).ToArray();
            }

            return Array.Empty<object>();
        }
    }

    public int LastPage
    {
        get
        {
            return (Items?.Count() - 1) / PageSize ?? 0;
        }
    }

    protected override void OnInitialized()
    {
        // Look for a cached version of the paginator and load the page number if it exists
        if (!string.IsNullOrWhiteSpace(this.Name) && _cache.Contains(this.Name))
        {
            this.PageNumber = _cache.Load<int>(this.Name);
        }
    }

    public void UpdatePage(int newNumber)
    {
        this.PageNumber = newNumber;

        if (!string.IsNullOrWhiteSpace(this.Name))
        {
            _cache.Save<int>(this.Name, newNumber);
        }
    }
}