@using MystiickWeb.Shared.Models;

<div class="card image-card m-2 w-100">
    @if (Image != null)
    {
        <img src="/api/image/@Image.GUID" />
        <div>
            @if (string.IsNullOrWhiteSpace(Image.Subcategory))
            {
                <p>&nbsp;</p>
            }
            else
            {
                <p>@Image.Subcategory</p>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public ImageResult? Image
    {
        get; set;
    }
}
