@using MystiickWeb.Shared.Models;

<span class="card image-card m-1 p-2">
    @if (Image != null)
    {
        <img src="/api/image/@Image.GUID"/>
    }
</span>

@code {
    [Parameter]
    public ImageResult? Image
    {
        get; set;
    }
}

