@page "/"
@inherits BasePage

@using MystiickWeb.Shared.Models;
@using MystiickWeb.Shared.Models.Posts;
@using MystiickWeb.Shared.Constants;

@inject PostManager _postManager;

<PageTitle>Kaisan Studio</PageTitle>

<PageHeader @ref="Header" HeaderText="" Error="@Error" Message="@Message" ValidationMessages="ValidationMessages" />

<div class="row">

    <div class="col-xxl-10 col-xl-8">
        @greeting
    </div>

    <div class="col-xxl-2 col-xl-4">

        <div class="card p-2">
            <h4>New Posts</h4>

            <LoadingSpinner IsLoading="IsLoading" />

            @if (NewPosts != null)
            {
                @foreach (IBasePost post in NewPosts)
                {
                    <PostPreview Post="post" />
                }
            }
        </div>
    </div>
</div>

@code {
    private IBasePost[]? NewPosts;

    private MarkupString greeting;

    protected override async Task OnInitializedAsync()
    {
        greeting = (MarkupString)Markdig.Markdown.ToHtml(@"### Hello, @name!

Welcome to Kaisan Studio, a portfolio website for my programming and photography projects. This website has been built by me using [Blazor .NET](https://blazor.net), hosted on an Ubuntu server in my home office.

[Programming](/posts/programming) is a list of posts showcasing the personal projects I'm working on, and the progress I'm making as I make it.

The [Photography](/posts/photography) page is a collection of posts showcasing some pictures taken by me. I currently have a Nikon D3500, and I use the kit 18-55mm and 70-300mm lenses.
You can click each picture to view a larger image, which also has some additional information about the composition of the image.

My [Minecraft](/minecraft) server is currently offline, so it currently just displays a page with mock data.

### Who am I?
I'm Jake, currently working on a handful of programming projects as well as venturing into amateur photography.
On my free time, I like to play games as well as pretend that [I make them](https://github.com/Mystiick/SmallGames), I'm working on a custom ECS engine built on top of Monogame to learn the ins and outs of the engine.
Progress is slow, but extremely rewarding once you finish that feature you've been working on and it just works.

### What is Kaisan?
Kaisan is originally just a name that came up when clicking 'Random' while creating a WoW character, which I adopted as a username here and there ever since.
I like it because it is really close to [Kaizen](https://en.wikipedia.org/wiki/Kaizen), which is Japanese for 'Improvement', and has been adopted as a meaning for continual improvement.
Kaisan is also a literal translation for 'mountain founder' in Japanese, which is just plain cool.");

        NewPosts = (await CallApi(_postManager.GetTopPosts(5)));
    }
}
