@using MystiickWeb.Shared.Constants;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kaisan Studio</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="oi oi-home" aria-hidden="true"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/posts/programming">
                <i class="oi oi-terminal"></i> Programming
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/posts/photography">
                <i class="oi oi-camera-slr"></i> Photography
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="photogrid">
                <i class="oi oi-grid-three-up"></i> Gallery
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="minecraft">
                <i class="oi oi-globe"></i> Minecraft
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <i class="oi oi-question-mark"></i> About
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="user">
                        <i class="oi oi-person"></i> User
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="@UserRoles.Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <i class="oi oi-people"></i> Manage Users
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/posts/new">
                        <i class="oi oi-plus"></i> New Post
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
