@page "/user/login"
@inherits BasePage
@inject NavigationManager _navigationManager;
@inject MystiickAuthStateProvider asp;

@using MystiickWeb.Wasm.Auth;
@using MystiickWeb.Shared.Constants;
@using MystiickWeb.Shared.Models.User;

<div class="container col-6">
    <h3>Login</h3>

    <div class="m-3">
        <label class="form-label" for="username">Username</label>
        <input type="text" class="form-control" id="username" @bind="username" />
    </div>
    <div class="m-3">
        <label class="form-label" for="username">Password</label>
        <input type="password" class="form-control" id="password" @bind=password />
    </div>
    <div class="m-3">
        <button class="btn btn-primary" @onclick="OnClick">Submit</button>
    </div>
</div>

@code {
    private string username = string.Empty;
    private string password = string.Empty;

    private async void OnClick()
    {
        var response = await PostApiAsync($"{ControllerConstants.Users}/login", new Credential { Username = username, Password = password });

        if (response.Success)
        {
            _navigationManager.NavigateTo("/user");
            asp.NotifyAuthenticationStateChanged();
        }

    }
}
