@page "/user"
@inherits BasePage

@using System.Security.Claims;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;

@using MystiickWeb.Shared.Constants;
@using MystiickWeb.Shared.Models.User;
@using MystiickWeb.Wasm.Auth;
@using MystiickWeb.Wasm.Managers;

@inject NavigationManager _navigationManager;
@inject UserManager _userManager;

<AuthorizeView>
    <Authorized>
        <h3>User</h3>
        <p>Username: @context.User.FindFirst(ClaimTypes.Name)?.Value </p>

        <button class="btn btn-primary" @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        <h3>Not Signed In</h3>
        <div class="mb-3"><a class="btn btn-primary" href="/user/login">Login</a></div>
        <div><a class="btn btn-primary" href="/user/register">Register</a></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected async Task Logout()
    {
        var response = await _userManager.Logout();

        if (response.Success)
            _navigationManager.NavigateTo("/user/login");
    }
}
