@page "/user"
@inherits BasePage

@using System.Security.Claims;
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authorization;

@using MystiickWeb.Shared.Constants;
@using MystiickWeb.Shared.Models.User;
@using MystiickWeb.Wasm.Auth;

@inject NavigationManager _navigationManager;
@inject UserManager _userManager;

<AuthorizeView>
    <Authorized>
        <h3>Profile</h3>
        <div class="row">
            <div class="col-5">
                <p>Username: @context.User.FindFirst(ClaimTypes.Name)?.Value </p>
            </div>
            <div class="col-1 text-end p-0">
                <button class="btn btn-primary" @onclick="Logout">Logout</button>
            </div>
        </div>

        <div class="card col-xxl-6 col-lg-12 bg-secondary bg-opacity-25 mb-2">
            <h5>Change Username</h5>

            <div class="card bg-body p-1">
                <div>
                    <label class="form-label" for="cu-password">Current Password</label>
                    <input type="password" class="form-control" id="cu-password" @bind="currentUser.Password" />
                </div>
                <hr />
                <div>
                    <label class="form-label" for="cu-username">New Username</label>
                    <input type="text" class="form-control" id="cu-username" @bind="newUser.Username" />
                </div>
                <div class="pt-3 text-end p-0">
                    <button class="btn btn-primary" @onclick="ChangeUsername">Update Username</button>
                </div>
            </div>
        </div>

        <div class="card col-xxl-6 col-lg-12 bg-secondary bg-opacity-25">
            <h5>Change Password</h5>

            <div class="card bg-body p-1">
                <div>
                    <label class="form-label" for="username">Current Password</label>
                    <input type="password" class="form-control" id="password" @bind="currentUser.Password" />
                </div>
                <hr />
                <div class="border border-warning rounded pb-0 mb-2 bg-warning bg-opacity-25    ">
                    <ul class="m-1">
                        <li>Passwords must be at least 6 characters.</li>
                        <li>Passwords must have at least one non alphanumeric character.</li>
                        <li>Passwords must have at least one digit ('0'-'9').</li>
                        <li>Passwords must have at least one uppercase ('A'-'Z').</li>
                    </ul>
                </div>
                <div>
                    <label class="form-label" for="username">New Password</label>
                    <input type="password" class="form-control" id="password" @bind="newUser.Password" />
                </div>
                <div>
                    <label class="form-label" for="username">Confirm New Password</label>
                    <input type="password" class="form-control" id="password" @bind="newUser.ConfirmPassword" />
                </div>
                <div class="pt-3 text-end p-0">
                    <button class="btn btn-primary" @onclick="ChangePassword">Update Password</button>
                </div>
            </div>
        </div>

        @foreach(var claim in context.User.Claims)
        {
            <p>@claim.Type: @claim.Value</p>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Not Signed In</h3>
        <div class="mb-3"><a class="btn btn-primary" href="/user/login">Login</a></div>
        <div><a class="btn btn-primary" href="/user/register">Register</a></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private readonly Credential currentUser = new();
    private readonly Credential newUser = new();
    protected async Task Logout()
    {
        var response = await CallApi(_userManager.Logout());

        if (response.Success)
            _navigationManager.NavigateTo("/user/login");
    }

    private async Task ChangeUsername()
    {
        await CallApi(_userManager.ChangeUsername(currentUser, newUser.Username));
    }
    private async Task ChangePassword()
    {
        await CallApi(_userManager.ChangePassword(currentUser, newUser));
    }
}
