@using MystiickWeb.Shared.Models;
@using MystiickWeb.Shared.Models.Posts;

<ul class="list-group">
    @foreach (PostAttachment attachment in Attachments.Where(x => x.AttachmentType == AttachmentType.Link))
    {
        if (attachment.Content != null)
        {
            <LinkAttachment Link="(Link)attachment.Content"></LinkAttachment>
        }
    }
</ul>

<div class="row">
    @foreach (PostAttachment attachment in Attachments.Where(x => x.AttachmentType == AttachmentType.Image))
    {
        if (attachment.Content != null)
        {
            <ImageAttachment Image="(ImageResult)attachment.Content"></ImageAttachment>
        }
    }
</div>

@code {
    [Parameter] public List<PostAttachment> Attachments { get; set; } = new();
}
