@using MystiickWeb.Shared.Models;
@using MystiickWeb.Shared.Constants;

<div class="card col-xxl-6 col-lg-12 bg-secondary bg-opacity-25 mb-2">
    <div class="p-1 pointer" @onclick="(x) => Expanded = !Expanded">
        <a>
            <i class="oi @(Expanded ? "oi-chevron-top" : "oi-chevron-bottom") "></i>
            <h5 style="display:inline">@Header</h5>
        </a>
    </div>
    @if (Expanded)
    {
        <div class="card bg-body p-1">
            @ChildContent
        </div>
    }
</div>

@code
{
    [Parameter] public string Header { get; set; }
    [Parameter] public bool Expanded { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}