.image-card {
    overflow: hidden;
    height: 97%;
    display: flex;
}

    .image-card img {
        object-fit: cover;
        height: 100%;
        width:100%
    }

.pointer {
    cursor: pointer
}